.logoClients {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.imagClient {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}

.imagClient img {
  width: 10%;
  cursor: pointer;
  transition: 100ms;
}

.imagClient img:hover {
  scale: calc(1.1);
}
